<div id="content">
  <div id='maincontent'>
    <section id="intro">
      <h2>Administra en linea tu Iglesia</h2>
      <h1>Mi Iglesia en Linea</h1>
      <P>
 
        asdmfi nagr tyu eilgia en lianea meidan te es te podedferos osogtware para el manejo de ighiales, ademas efdg raftyirs para las girnas persils dqe rse gisgrte ndutante el padotgo de pruafas.
        </P>
        </section>
    </div>  
  <aside id="register"> 
    <p>skldfj aslkdf lksdfihgmhi msdfguaeghnvbiae,b are ngarl
      ddasdl vbitas</p>
    <form>
      Nombre: <input type='text'>
      <button value="Registrate">Registrate</button>
    </form>
  </aside>
</div>
